extends layout

block content
   div.loginContents
     h2 Welcome Back
        div.login
            input.loginButton(type="email", name="email", value="Enter in your email")
            br
            input.loginButton(type="password", name="password", value="Enter in your password")
            br
            a Log In
            a Create Account 