doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 360 Financial Tool
    link(href='stylesheets/login.css' rel='stylesheet')
.container
    img.logo(src='images/logo.png')
    .login-container
        .left-section
            .rings-container
                .background
                    svg(preserveaspectratio='xMidYMid slice' viewbox='0 0 800 800')
                        path#auth-blob-one
                            animate#path-animation(attributeName='d' calcMode='spline' keyTimes='0; 0.25; 0.5; 0.75; 1' keySplines='.25,0, 0.75, 1; .25,0, 0.75, 1; .25,0, 0.75, 1; .25,0, 0.75, 1;' repeatCount='indefinite' dur='24s' values='\
                                 M 744.7245832542372 400\
                                 C\
                                 744.7245832542372 523.158231592171,\
                                 687.5528952060362 644.2073029153102,\
                                 577.633162787318 707.6695196057742\
                                 C\
                                 467.7134303685998 771.1317362962382,\
                                 330.13204066628526 782.9405321491571,\
                                 216.71484480427898 717.4590530567486\
                                 C\
                                 103.2976489422727 651.9775739643401,\
                                 25.38907310206099 533.8355937842362,\
                                 25.38907310206099 400\
                                 C\
                                 25.38907310206099 266.16440621576385,\
                                 130.94082081320965 171.49867878487652,\
                                 233.7911606083317 112.11797973166097\
                                 C\
                                 336.6415004034538 52.73728067844536,\
                                 450.6730193275924 122.26535350447818,\
                                 532.9309214161034 169.75699756123808\
                                 C\
                                 615.1888235046144 217.248641617998,\
                                 744.7245832542372 276.84176840782914,\
                                 744.7245832542372 400\
                                 Z;\
                                 M 731.3373262354257 400\
                                 C\
                                 731.3373262354257 518.375425316093,\
                                 653.8492153175082 615.5841003633032,\
                                 556.8130237590503 671.6079978018631\
                                 C\
                                 459.7768322005925 727.6318952404232,\
                                 337.0560028536031 744.9908655226028,\
                                 234.87852807446527 685.9986454486224\
                                 C\
                                 132.70105329532748 627.006425374642,\
                                 47.90849147290305 525.7901804955885,\
                                 47.90849147290305 400\
                                 C\
                                 47.90849147290305 274.2098195044115,\
                                 134.9375610701269 174.89295223809793,\
                                 236.26011023294572 116.39432392897362\
                                 C\
                                 337.5826593957645 57.89569561984928,\
                                 459.4829674267911 73.97875338782575,\
                                 556.0421260373138 129.72723559707066\
                                 C\
                                 652.6012846478365 185.47571780631557,\
                                 731.3373262354257 281.6245746839069,\
                                 731.3373262354257 400\
                                 Z;\
                                 M 701.6655843146044 400\
                                 C\
                                 701.6655843146044 507.774732935148,\
                                 677.6097805581795 635.7630088351168,\
                                 571.4908949392055 697.0308045794509\
                                 C\
                                 465.37200932023154 758.2986003237851,\
                                 351.67215783056963 664.8809235945689,\
                                 273.2211998637258 619.5872207760337\
                                 C\
                                 194.77024189688194 574.2935179574986,\
                                 50.540346112822135 524.8499093951053,\
                                 50.540346112822135 400\
                                 C\
                                 50.540346112822135 275.15009060489473,\
                                 133.50747184594024 173.67843401140217,\
                                 235.37668573541694 114.86418852802888\
                                 C\
                                 337.24589962489364 56.04994304465566,\
                                 456.77501918064655 88.82079475127767,\
                                 548.9383445716787 142.03134028462387\
                                 C\
                                 641.1016699627108 195.24188581796994,\
                                 701.6655843146044 292.225267064852,\
                                 701.6655843146044 400\
                                 Z;\
                                 M 731.3373262354257 400\
                                 C\
                                 731.3373262354257 518.375425316093,\
                                 653.8492153175082 615.5841003633032,\
                                 556.8130237590503 671.6079978018631\
                                 C\
                                 459.7768322005925 727.6318952404232,\
                                 337.0560028536031 744.9908655226028,\
                                 234.87852807446527 685.9986454486224\
                                 C\
                                 132.70105329532748 627.006425374642,\
                                 47.90849147290305 525.7901804955885,\
                                 47.90849147290305 400\
                                 C\
                                 47.90849147290305 274.2098195044115,\
                                 134.9375610701269 174.89295223809793,\
                                 236.26011023294572 116.39432392897362\
                                 C\
                                 337.5826593957645 57.89569561984928,\
                                 459.4829674267911 73.97875338782575,\
                                 556.0421260373138 129.72723559707066\
                                 C\
                                 652.6012846478365 185.47571780631557,\
                                 731.3373262354257 281.6245746839069,\
                                 731.3373262354257 400\
                                 Z;\
                                 M 744.7245832542372 400\
                                 C\
                                 744.7245832542372 523.158231592171,\
                                 687.5528952060362 644.2073029153102,\
                                 577.633162787318 707.6695196057742\
                                 C\
                                 467.7134303685998 771.1317362962382,\
                                 330.13204066628526 782.9405321491571,\
                                 216.71484480427898 717.4590530567486\
                                 C\
                                 103.2976489422727 651.9775739643401,\
                                 25.38907310206099 533.8355937842362,\
                                 25.38907310206099 400\
                                 C\
                                 25.38907310206099 266.16440621576385,\
                                 130.94082081320965 171.49867878487652,\
                                 233.7911606083317 112.11797973166097\
                                 C\
                                 336.6415004034538 52.73728067844536,\
                                 450.6730193275924 122.26535350447818,\
                                 532.9309214161034 169.75699756123808\
                                 C\
                                 615.1888235046144 217.248641617998,\
                                 744.7245832542372 276.84176840782914,\
                                 744.7245832542372 400\
                                 Z')
                        path#auth-blob-two
                            animate(attributeName='d' calcMode='spline' keyTimes='0; 0.25; 0.5; 0.75; 1' keySplines='.25,0, 0.75, 1; .25,0, 0.75, 1; .25,0, 0.75, 1; .25,0, 0.75, 1;' repeatCount='indefinite' dur='26s' values='\
                                 M 686.764371118111 400\
                                 C\
                                 686.764371118111 502.45104221215547,\
                                 669.4041002830855 628.7942490626574,\
                                 566.4219112343394 688.2510713534377\
                                 C\
                                 463.4397221855934 747.707893644218,\
                                 333.2404332010195 765.9036886127066,\
                                 224.86911485268246 703.3354496194113\
                                 C\
                                 116.49779650434544 640.7672106261161,\
                                 96.38987489944446 508.46945044614137,\
                                 96.38987489944446 400\
                                 C\
                                 96.38987489944446 291.53054955385863,\
                                 108.19813864810845 152.1842181580064,\
                                 219.7420773592862 87.78426509015168\
                                 C\
                                 331.286016070464 23.38431202229691,\
                                 464.55500311950334 46.179343389751125,\
                                 569.3476362878243 106.68142656767384\
                                 C\
                                 674.1402694561455 167.18350974559652,\
                                 686.764371118111 297.54895778784453,\
                                 686.764371118111 400\
                                 Z;\
                                 M 674.2809530086804 400\
                                 C\
                                 674.2809530086804 497.99114647721944,\
                                 682.9085455186713 640.2630403818576,\
                                 574.7641583787001 702.7002605198278\
                                 C\
                                 466.6197712387292 765.1374806577978,\
                                 335.48903483807214 753.5792881908826,\
                                 230.76788882505576 693.1184781605622\
                                 C\
                                 126.04674281203933 632.6576681302417,\
                                 77.99551623955614 515.0411218437487,\
                                 77.99551623955614 400\
                                 C\
                                 77.99551623955614 284.95887815625133,\
                                 139.76626702296903 178.99378125764147,\
                                 239.2429990331392 121.56083647534871\
                                 C\
                                 338.71973104330937 64.12789169305597,\
                                 469.2022525656466 20.708151832032286,\
                                 581.538801509943 85.5657188447031\
                                 C\
                                 693.8753504542395 150.4232858573739,\
                                 674.2809530086804 302.0088535227805,\
                                 674.2809530086804 400\
                                 Z;\
                                 M 646.2555101141184 400\
                                 C\
                                 646.2555101141184 487.9786200890562,\
                                 650.3988272276812 612.6538222006575,\
                                 554.6815781730113 667.916227474564\
                                 C\
                                 458.96432911834137 723.1786327484707,\
                                 338.810905920357 735.3723863132257,\
                                 239.4821787894824 678.024892227677\
                                 C\
                                 140.15345165860776 620.6773981421284,\
                                 129.20288785404546 496.7464900162516,\
                                 129.20288785404546 400\
                                 C\
                                 129.20288785404546 303.2535099837484,\
                                 97.61329476557978 143.194928815328,\
                                 213.2033871641611 76.45892673768515\
                                 C\
                                 328.79347956274233 9.722924660042281,\
                                 454.2046773460719 102.90862670348821,\
                                 542.1955470640845 153.71020270765243\
                                 C\
                                 630.1864167820971 204.51177871181662,\
                                 646.2555101141184 312.0213799109438,\
                                 646.2555101141184 400\
                                 Z;\
                                 M 674.2809530086804 400\
                                 C\
                                 674.2809530086804 497.99114647721944,\
                                 682.9085455186713 640.2630403818576,\
                                 574.7641583787001 702.7002605198278\
                                 C\
                                 466.6197712387292 765.1374806577978,\
                                 335.48903483807214 753.5792881908826,\
                                 230.76788882505576 693.1184781605622\
                                 C\
                                 126.04674281203933 632.6576681302417,\
                                 77.99551623955614 515.0411218437487,\
                                 77.99551623955614 400\
                                 C\
                                 77.99551623955614 284.95887815625133,\
                                 139.76626702296903 178.99378125764147,\
                                 239.2429990331392 121.56083647534871\
                                 C\
                                 338.71973104330937 64.12789169305597,\
                                 469.2022525656466 20.708151832032286,\
                                 581.538801509943 85.5657188447031\
                                 C\
                                 693.8753504542395 150.4232858573739,\
                                 674.2809530086804 302.0088535227805,\
                                 674.2809530086804 400\
                                 Z;\
                                 M 686.764371118111 400\
                                 C\
                                 686.764371118111 502.45104221215547,\
                                 669.4041002830855 628.7942490626574,\
                                 566.4219112343394 688.2510713534377\
                                 C\
                                 463.4397221855934 747.707893644218,\
                                 333.2404332010195 765.9036886127066,\
                                 224.86911485268246 703.3354496194113\
                                 C\
                                 116.49779650434544 640.7672106261161,\
                                 96.38987489944446 508.46945044614137,\
                                 96.38987489944446 400\
                                 C\
                                 96.38987489944446 291.53054955385863,\
                                 108.19813864810845 152.1842181580064,\
                                 219.7420773592862 87.78426509015168\
                                 C\
                                 331.286016070464 23.38431202229691,\
                                 464.55500311950334 46.179343389751125,\
                                 569.3476362878243 106.68142656767384\
                                 C\
                                 674.1402694561455 167.18350974559652,\
                                 686.764371118111 297.54895778784453,\
                                 686.764371118111 400\
                                 Z')
                        path#auth-blob-three
                            animate(attributeName='d' calcMode='spline' keyTimes='0; 0.25; 0.5; 0.75; 1' keySplines='.25,0, 0.75, 1; .25,0, 0.75, 1; .25,0, 0.75, 1; .25,0, 0.75, 1;' repeatCount='indefinite' dur='28s' values='\
                                  M 701.2928896366744 400\
                                  C\
                                  701.2928896366744 507.6415819511817,\
                                  631.503001480494 596.6063446095455,\
                                  543.0088551821824 647.6984876182992\
                                  C\
                                  454.51470888387087 698.7906306270527,\
                                  344.52574591765915 704.049818850487,\
                                  254.47396251714582 652.0583732221775\
                                  C\
                                  164.42217911663252 600.0669275938681,\
                                  97.54186161307484 508.0578852333298,\
                                  97.54186161307484 400\
                                  C\
                                  97.54186161307484 291.9421147666702,\
                                  118.99555221912357 161.3540345312669,\
                                  226.41208052919995 99.33704408060072\
                                  C\
                                  333.8286088392763 37.320053629934534,\
                                  465.58608959040083 40.52804334288197,\
                                  572.0524933588031 101.99647887788512\
                                  C\
                                  678.5188971272054 163.4649144128883,\
                                  701.2928896366744 292.3584180488183,\
                                  701.2928896366744 400\
                                  Z;\
                                  M 740.6581964975065 400\
                                  C\
                                  740.6581964975065 521.7054515287327,\
                                  618.0845912578748 585.2106194246916,\
                                  534.7197553777319 633.3413523020005\
                                  C\
                                  451.35491949758904 681.4720851793094,\
                                  344.63605731406636 703.4452111698685,\
                                  254.76334325193713 651.5571513204823\
                                  C\
                                  164.8906291898078 599.6690914710962,\
                                  60.787726856778136 521.1888728686023,\
                                  60.787726856778136 400\
                                  C\
                                  60.787726856778136 278.8111271313977,\
                                  211.53844893876038 239.94705720168585,\
                                  283.579605919722 198.35405643325447\
                                  C\
                                  355.6207629006836 156.76105566482306,\
                                  453.0806594916503 109.06927601144173,\
                                  539.2469023798104 158.81740273304922\
                                  C\
                                  625.4131452679707 208.56552945465666,\
                                  740.6581964975065 278.29454847126726,\
                                  740.6581964975065 400\
                                  Z;\
                                  M 768.6878412829243 400\
                                  C\
                                  768.6878412829243 531.7194791079113,\
                                  703.0089274302446 657.3334998904496,\
                                  587.1809848885757 724.2068248762577\
                                  C\
                                  471.3530423469069 791.0801498620658,\
                                  338.5855263601126 736.6076731250718,\
                                  238.89093885530835 679.0489493556631\
                                  C\
                                  139.19635135050413 621.4902255862545,\
                                  27.50500410517685 533.079644446203,\
                                  27.50500410517685 400\
                                  C\
                                  27.50500410517685 266.92035555379704,\
                                  172.43755793396429 206.74021667578904,\
                                  259.42538924244775 156.51774543738168\
                                  C\
                                  346.41322055093127 106.29527419897431,\
                                  450.70598546287874 122.08466883142012,\
                                  533.0174017323998 169.60720932939708\
                                  C\
                                  615.3288180019207 217.12974982737404,\
                                  768.6878412829243 268.2805208920887,\
                                  768.6878412829243 400\
                                  Z;\
                                  M 740.6581964975065 400\
                                  C\
                                  740.6581964975065 521.7054515287327,\
                                  618.0845912578748 585.2106194246916,\
                                  534.7197553777319 633.3413523020005\
                                  C\
                                  451.35491949758904 681.4720851793094,\
                                  344.63605731406636 703.4452111698685,\
                                  254.76334325193713 651.5571513204823\
                                  C\
                                  164.8906291898078 599.6690914710962,\
                                  60.787726856778136 521.1888728686023,\
                                  60.787726856778136 400\
                                  C\
                                  60.787726856778136 278.8111271313977,\
                                  211.53844893876038 239.94705720168585,\
                                  283.579605919722 198.35405643325447\
                                  C\
                                  355.6207629006836 156.76105566482306,\
                                  453.0806594916503 109.06927601144173,\
                                  539.2469023798104 158.81740273304922\
                                  C\
                                  625.4131452679707 208.56552945465666,\
                                  740.6581964975065 278.29454847126726,\
                                  740.6581964975065 400\
                                  Z;\
                                  M 701.2928896366744 400\
                                  C\
                                  701.2928896366744 507.6415819511817,\
                                  631.503001480494 596.6063446095455,\
                                  543.0088551821824 647.6984876182992\
                                  C\
                                  454.51470888387087 698.7906306270527,\
                                  344.52574591765915 704.049818850487,\
                                  254.47396251714582 652.0583732221775\
                                  C\
                                  164.42217911663252 600.0669275938681,\
                                  97.54186161307484 508.0578852333298,\
                                  97.54186161307484 400\
                                  C\
                                  97.54186161307484 291.9421147666702,\
                                  118.99555221912357 161.3540345312669,\
                                  226.41208052919995 99.33704408060072\
                                  C\
                                  333.8286088392763 37.320053629934534,\
                                  465.58608959040083 40.52804334288197,\
                                  572.0524933588031 101.99647887788512\
                                  C\
                                  678.5188971272054 163.4649144128883,\
                                  701.2928896366744 292.3584180488183,\
                                  701.2928896366744 400\
                                  Z')
                .info-container
                    h1 Welcome Back
                    h3 Step back into managing
                        br
                        |  your finances.
            img(src='images/man-svg-data.svg')

        .right-section
            .form-container.sign-in-container
                form(action='/login' method="POST")
                    h2#login-tag Log In
                    input(type='email', name="email", placeholder='Email')
                    input(type='password', name="password" placeholder='Password')
                    a#forgot-password(href='#') Forgot your password?
                    button(type="submit") Sign In

