extends layout

block content
   div(class="hero is-fullheight is-primary")
      div(class="level")
         div(class="hero-body")
            div(class="container has-text-centered")
               div(class="column is-8 is-offset-2")
                  h3(class="title has-text-white")
                     |Welcome Back
                  hr(class="login-hr")
                  p(class="subtitle has-text-white")
                     |please log in I'm begging you
                  div(class="box")
                     div(class="box")
                        div(class="title has-text-grey is-5")
                           |Please enter your email and password
                     form
                        div(class="field")
                            input(class="input is-medium", type="email", placeholder="Password")
                            input(class="input is-medium", type="password", placeholder="Password")
                        div(class="level")
                           div(class="level-item has-text-centered")
                              button(class="button is-black is-danger is-light is-small is-rounded")
                                 strong Log In
                           div(class="level-item has-text-centered")
                              button(class="button is-black is-danger is-light is-small is-rounded ")
                                 strong Create Account
         figure(class="image")
            img(src="/images/placeholder.jpg")
   
                     
         