extends index

block content
    div(class="hero is-fullheight")
        div(class="hero-body")
            div(class="container")
                div(class="level")
                    div(class="level-item")
                        div(class="column")
                            div(class="column is-8 is-offset-2")
                                div(class="card")
                                    
                                    div(class="card-content")
                                        div(class="box")
                                            div(class="media")
                                                div(class="media-left")
                                                div(class="media-content")
                                                    p(class="title is-3")
                                                        |Rebekah Mark
                                                        
                                                    div(class="content")
                                                        |Assumed the role of Scrum Master and 
                                                        br
                                                        |helped establish api connections and
                                                        br
                                                        |other important back-end services
                            div(class="column is-8 is-offset-2")
                                div(class="card")
                                    div(class="card-content")
                                        div(class="box")
                                            div(class="media")
                                                div(class="media-left")
                                                div(class="media-content")
                                                    p(class="title is-3")
                                                        |Yaksh Patel
                                                        
                                                    div(class="content")
                                                        |Played a vital role in all areas of
                                                        br
                                                        |the application from designing the 
                                                        br
                                                        |front-end to developing crucial 
                                                        br
                                                        |back-end services 
                            div(class="column is-8 is-offset-2")
                                div(class="card")
                                    div(class="card-content")
                                        div(class="box")
                                            div(class="media")
                                                div(class="media-left")
                                                div(class="media-content")
                                                    p(class="title is-3")
                                                        |Odin Nakasone

                                                    div(class="content")
                                                        |Designed application entities and
                                                        br
                                                        |helped develop several back-end 
                                                        br
                                                        |services including user 
                                                        br
                                                        |authorization 
                    div(class="level-item")                               
                        div(class="column")
                            div(class="column is-8 is-offset-2")
                                div(class="card")
                                    div(class="card-content")
                                        div(class="box")
                                            div(class="media")
                                                div(class="media-left")
                                                div(class="media-content")
                                                    p(class="title is-3")
                                                        |Brad Pendleton
                                                    div(class="content")
                                                        |Assisted in development of various
                                                        br
                                                        |back-end services including UX
                                                        br
                                                        |accessibility 
                            div(class="column is-8 is-offset-2")
                                div(class="card")
                                    div(class="card-content")
                                        div(class="box")
                                            div(class="media")
                                                div(class="media-left")
                                                
                                                div(class="media-content")
                                                    p(class="title is-3")
                                                        |Tommy Donavon
                                                    div(class="content")
                                                        |Assisted in designing and 
                                                        br
                                                        |implementing the front-end
                                                        br
                                                        |of the application 