extends layout

block content
    div(class="container")
        div(class="column is-8 is-offset-2")
            div(class="card")
                div(class="card-content")
                    div(class="media")
                        div(class="media-left")
                            figure(class="image is-128x128")
                                img(src="/images/96x96.png")
                        div(class="media-content")
                            p(class="title is-4")
                                |Rebekah
                            p(class="subtitle is-6")
                                |@bekah
                            div(class="content")
                                |bio goes here
        div(class="column is-8 is-offset-2")
            div(class="card")
                div(class="card-content")
                    div(class="media")
                        div(class="media-left")
                            figure(class="image is-128x128")
                                img(src="/images/96x96.png")
                        div(class="media-content")
                            p(class="title is-4")
                                |Yaksh
                            p(class="subtitle is-6")
                                |@Yaksh
                            div(class="content")
                                |bio goes here
        div(class="column is-8 is-offset-2")
            div(class="card")
                div(class="card-content")
                    div(class="media")
                        div(class="media-left")
                            figure(class="image is-128x128")
                                img(src="/images/96x96.png")
                        div(class="media-content")
                            p(class="title is-4")
                                |Odin
                            p(class="subtitle is-6")
                                |@Odin
                            div(class="content")
                                |bio goes here
        div(class="column is-8 is-offset-2")
            div(class="card")
                div(class="card-content")
                    div(class="media")
                        div(class="media-left")
                            figure(class="image is-128x128")
                                img(src="/images/96x96.png")
                        div(class="media-content")
                            p(class="title is-4")
                                |Brad
                            p(class="subtitle is-6")
                                |@Brad
                            div(class="content")
                                |bio goes here
        div(class="column is-8 is-offset-2")
            div(class="card")
                div(class="card-content")
                    div(class="media")
                        div(class="media-left")
                            figure(class="image is-128x128")
                                img(src="/images/96x96.png")
                        div(class="media-content")
                            p(class="title is-4")
                                |Tommy
                            p(class="subtitle is-6")
                                |@Tommy
                            div(class="content")
                                |bio goes here